TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
USER_PHONE_NUMBER=

BASE_URL=

EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_RECEIVER=

FOREST_OFFICER_NUMBER=
